In [10]:
import pandas as pd
from matplotlib import pyplot as plt

In [17]:
# Load data
file_path = "Resources/Greenhouse_data_cleaned.csv"
gas_df = pd.read_csv(file_path)
gas_df

,area,year,carbon_dioxide,greenhouse_with_indirect,greenhouse_without_indirect,hydrofluorocarbons,methane,nitrogen_trifluoride,nitrous_oxide,perfluorocarbons,sulphur_hexafluoride,other
0,Australia,2014,3.931269e+05,5.223971e+05,5.223971e+05,10787.350138,98076.109401,0.000000,20084.542834,192.535991,129.605354,0.000000
1,Australia,2013,6.426256e+04,7.633262e+04,7.633262e+04,1642.800765,6623.265756,10.562520,3427.437373,53.028514,312.959665,0.000000
2,Australia,2012,6.061565e+04,9.189565e+04,9.189565e+04,0.000000,18599.179023,0.000000,12678.394858,0.000000,2.426946,0.000000
3,Australia,2011,9.632541e+04,1.138666e+05,1.138666e+05,2811.797330,8047.552316,0.689720,6278.983738,306.964411,95.218302,0.000000
4,Australia,2010,4.513996e+04,0.000000e+00,5.780759e+04,1423.812859,7420.509699,0.000000,3807.666139,0.032886,15.616100,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
1070,United States of America,1994,4.411553e+04,5.371998e+04,5.330776e+04,0.024781,6086.294429,0.000000,2852.381916,116.515250,137.006248,0.000000
1071,United States of America,1993,1.467506e+05,2.077733e+05,2.077733e+05,0.000000,43820.360200,0.000000,16509.556832,692.767132,0.000000,0.000000
1072,United States of America,1992,6.930248e+05,9.379542e+05,9.379542e+05,0.000000,189322.963465,0.000000,55370.646488,235.819623,0.007632,0.000000
1073,United States of America,1991,5.963985e+05,0.000000e+00,8.001075e+05,14391.426654,137607.978359,0.415007,48778.607299,1651.526859,1279.061171,0.000000
1074,United States of America,1990,5.115095e+06,6.397144e+06,6.397144e+06,46288.814184,773854.896420,47.921576,406228.526626,24255.671543,31080.406159,293.205663

In [18]:
# Load data
file_path = "Resources/EnvTempYearly_Cleaned.csv"
temp_df = pd.read_csv(file_path)
temp_df

              Area  Year  Temp Change
0      Afghanistan  1961       -0.080
1      Afghanistan  1962       -0.120
2      Afghanistan  1963        0.882
3      Afghanistan  1964       -0.727
4      Afghanistan  1965       -0.200
...            ...   ...          ...
11854         OECD  2015        1.282
11855         OECD  2016        1.850
11856         OECD  2017        1.349
11857         OECD  2018        1.088
11858         OECD  2019        1.297

[11859 rows x 3 columns]

In [19]:
dataset_df = gas_df.merge(temp_df, left_on=["area","year"], right_on=["Area","Year"])
dataset_df

,area,year,carbon_dioxide,greenhouse_with_indirect,greenhouse_without_indirect,hydrofluorocarbons,methane,nitrogen_trifluoride,nitrous_oxide,perfluorocarbons,sulphur_hexafluoride,other,Area,Year,Temp Change
0,Australia,2014,3.931269e+05,5.223971e+05,5.223971e+05,10787.350138,98076.109401,0.000000,20084.542834,192.535991,129.605354,0.000000,Australia,2014,1.139
1,Australia,2013,6.426256e+04,7.633262e+04,7.633262e+04,1642.800765,6623.265756,10.562520,3427.437373,53.028514,312.959665,0.000000,Australia,2013,1.450
2,Australia,2012,6.061565e+04,9.189565e+04,9.189565e+04,0.000000,18599.179023,0.000000,12678.394858,0.000000,2.426946,0.000000,Australia,2012,0.273
3,Australia,2011,9.632541e+04,1.138666e+05,1.138666e+05,2811.797330,8047.552316,0.689720,6278.983738,306.964411,95.218302,0.000000,Australia,2011,0.176
4,Australia,2010,4.513996e+04,0.000000e+00,5.780759e+04,1423.812859,7420.509699,0.000000,3807.666139,0.032886,15.616100,0.000000,Australia,2010,0.644
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
770,United States of America,1994,4.411553e+04,5.371998e+04,5.330776e+04,0.024781,6086.294429,0.000000,2852.381916,116.515250,137.006248,0.000000,United States of America,1994,0.461
771,United States of America,1993,1.467506e+05,2.077733e+05,2.077733e+05,0.000000,43820.360200,0.000000,16509.556832,692.767132,0.000000,0.000000,United States of America,1993,0.005
772,United States of America,1992,6.930248e+05,9.379542e+05,9.379542e+05,0.000000,189322.963465,0.000000,55370.646488,235.819623,0.007632,0.000000,United States of America,1992,0.395
773,United States of America,1991,5.963985e+05,0.000000e+00,8.001075e+05,14391.426654,137607.978359,0.415007,48778.607299,1651.526859,1279.061171,0.000000,United States of America,1991,0.525
774,United States of America,1990,5.115095e+06,6.397144e+06,6.397144e+06,46288.814184,773854.896420,47.921576,406228.526626,24255.671543,31080.406159,293.205663,United States of America,1990,0.672

In [21]:
dataset_df = dataset_df.drop(columns=["Area","Year"])
dataset_df

,area,year,carbon_dioxide,greenhouse_with_indirect,greenhouse_without_indirect,hydrofluorocarbons,methane,nitrogen_trifluoride,nitrous_oxide,perfluorocarbons,sulphur_hexafluoride,other,Temp Change
0,Australia,2014,3.931269e+05,5.223971e+05,5.223971e+05,10787.350138,98076.109401,0.000000,20084.542834,192.535991,129.605354,0.000000,1.139
1,Australia,2013,6.426256e+04,7.633262e+04,7.633262e+04,1642.800765,6623.265756,10.562520,3427.437373,53.028514,312.959665,0.000000,1.450
2,Australia,2012,6.061565e+04,9.189565e+04,9.189565e+04,0.000000,18599.179023,0.000000,12678.394858,0.000000,2.426946,0.000000,0.273
3,Australia,2011,9.632541e+04,1.138666e+05,1.138666e+05,2811.797330,8047.552316,0.689720,6278.983738,306.964411,95.218302,0.000000,0.176
4,Australia,2010,4.513996e+04,0.000000e+00,5.780759e+04,1423.812859,7420.509699,0.000000,3807.666139,0.032886,15.616100,0.000000,0.644
...,...,...,...,...,...,...,...,...,...,...,...,...,...
770,United States of America,1994,4.411553e+04,5.371998e+04,5.330776e+04,0.024781,6086.294429,0.000000,2852.381916,116.515250,137.006248,0.000000,0.461
771,United States of America,1993,1.467506e+05,2.077733e+05,2.077733e+05,0.000000,43820.360200,0.000000,16509.556832,692.767132,0.000000,0.000000,0.005
772,United States of America,1992,6.930248e+05,9.379542e+05,9.379542e+05,0.000000,189322.963465,0.000000,55370.646488,235.819623,0.007632,0.000000,0.395
773,United States of America,1991,5.963985e+05,0.000000e+00,8.001075e+05,14391.426654,137607.978359,0.415007,48778.607299,1651.526859,1279.061171,0.000000,0.525
774,United States of America,1990,5.115095e+06,6.397144e+06,6.397144e+06,46288.814184,773854.896420,47.921576,406228.526626,24255.671543,31080.406159,293.205663,0.672

In [22]:
dataset_df.isna().sum()

area                           0
year                           0
carbon_dioxide                 0
greenhouse_with_indirect       0
greenhouse_without_indirect    0
hydrofluorocarbons             0
methane                        0
nitrogen_trifluoride           0
nitrous_oxide                  0
perfluorocarbons               0
sulphur_hexafluoride           0
other                          0
Temp Change                    0
dtype: int64

In [31]:
# Some fluctuation of temperature between years is acceptable, so let's only look at more extreme increases in temperature
y = [1 if temp > 1 else 0 for temp in dataset_df["Temp Change"]]
y

[1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0]

In [25]:

X = dataset_df.drop(columns=["area","year","Temp Change"])
X

,carbon_dioxide,greenhouse_with_indirect,greenhouse_without_indirect,hydrofluorocarbons,methane,nitrogen_trifluoride,nitrous_oxide,perfluorocarbons,sulphur_hexafluoride,other
0,3.931269e+05,5.223971e+05,5.223971e+05,10787.350138,98076.109401,0.000000,20084.542834,192.535991,129.605354,0.000000
1,6.426256e+04,7.633262e+04,7.633262e+04,1642.800765,6623.265756,10.562520,3427.437373,53.028514,312.959665,0.000000
2,6.061565e+04,9.189565e+04,9.189565e+04,0.000000,18599.179023,0.000000,12678.394858,0.000000,2.426946,0.000000
3,9.632541e+04,1.138666e+05,1.138666e+05,2811.797330,8047.552316,0.689720,6278.983738,306.964411,95.218302,0.000000
4,4.513996e+04,0.000000e+00,5.780759e+04,1423.812859,7420.509699,0.000000,3807.666139,0.032886,15.616100,0.000000
...,...,...,...,...,...,...,...,...,...,...
770,4.411553e+04,5.371998e+04,5.330776e+04,0.024781,6086.294429,0.000000,2852.381916,116.515250,137.006248,0.000000
771,1.467506e+05,2.077733e+05,2.077733e+05,0.000000,43820.360200,0.000000,16509.556832,692.767132,0.000000,0.000000
772,6.930248e+05,9.379542e+05,9.379542e+05,0.000000,189322.963465,0.000000,55370.646488,235.819623,0.007632,0.000000
773,5.963985e+05,0.000000e+00,8.001075e+05,14391.426654,137607.978359,0.415007,48778.607299,1651.526859,1279.061171,0.000000
774,5.115095e+06,6.397144e+06,6.397144e+06,46288.814184,773854.896420,47.921576,406228.526626,24255.671543,31080.406159,293.205663

In [28]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, classification_report

In [33]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [34]:
classifier = LogisticRegression(max_iter=10000)
classifier.fit(X_train, y_train)
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.540447504302926
Testing Data Score: 0.5

In [35]:
y_true = y_test
y_pred = classifier.predict(X_test)
cm = confusion_matrix(y_true, y_pred)
cm

array([[90,  7],
       [90,  7]], dtype=int64)

In [36]:
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df

          Predicted 0  Predicted 1
Actual 0           90            7
Actual 1           90            7

In [37]:
tn, fp, fn, tp = cm.ravel()

In [38]:
precision = tp / (tp + fp)
precision

0.5

In [39]:
sensitivity = tp / (tp + fn)
sensitivity

0.07216494845360824

In [40]:
f1 = 2*precision*sensitivity / (precision + sensitivity)
f1

0.12612612612612611

In [41]:
print(classification_report(y_true, y_pred))

              precision    recall  f1-score   support

           0       0.50      0.93      0.65        97
           1       0.50      0.07      0.13        97

    accuracy                           0.50       194
   macro avg       0.50      0.50      0.39       194
weighted avg       0.50      0.50      0.39       194