In [2]:
import pandas as pd
from matplotlib import pyplot as plt

In [3]:
# Load data
file_path = "Resources/Greenhouse_data_cleaned.csv"
gas_df = pd.read_csv(file_path)
gas_df

,area,year,carbon_dioxide,greenhouse_with_indirect,greenhouse_without_indirect,hydrofluorocarbons,methane,nitrogen_trifluoride,nitrous_oxide,perfluorocarbons,sulphur_hexafluoride,other
0,Australia,2014,3.931269e+05,5.223971e+05,5.223971e+05,10787.350138,98076.109401,0.000000,20084.542834,192.535991,129.605354,0.000000
1,Australia,2013,6.426256e+04,7.633262e+04,7.633262e+04,1642.800765,6623.265756,10.562520,3427.437373,53.028514,312.959665,0.000000
2,Australia,2012,6.061565e+04,9.189565e+04,9.189565e+04,0.000000,18599.179023,0.000000,12678.394858,0.000000,2.426946,0.000000
3,Australia,2011,9.632541e+04,1.138666e+05,1.138666e+05,2811.797330,8047.552316,0.689720,6278.983738,306.964411,95.218302,0.000000
4,Australia,2010,4.513996e+04,0.000000e+00,5.780759e+04,1423.812859,7420.509699,0.000000,3807.666139,0.032886,15.616100,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
1070,United States of America,1994,4.411553e+04,5.371998e+04,5.330776e+04,0.024781,6086.294429,0.000000,2852.381916,116.515250,137.006248,0.000000
1071,United States of America,1993,1.467506e+05,2.077733e+05,2.077733e+05,0.000000,43820.360200,0.000000,16509.556832,692.767132,0.000000,0.000000
1072,United States of America,1992,6.930248e+05,9.379542e+05,9.379542e+05,0.000000,189322.963465,0.000000,55370.646488,235.819623,0.007632,0.000000
1073,United States of America,1991,5.963985e+05,0.000000e+00,8.001075e+05,14391.426654,137607.978359,0.415007,48778.607299,1651.526859,1279.061171,0.000000
1074,United States of America,1990,5.115095e+06,6.397144e+06,6.397144e+06,46288.814184,773854.896420,47.921576,406228.526626,24255.671543,31080.406159,293.205663

In [4]:
# Load data
file_path = "Resources/EnvTempYearly_Cleaned.csv"
temp_df = pd.read_csv(file_path)
temp_df

              Area  Year  Temp Change
0      Afghanistan  1961       -0.080
1      Afghanistan  1962       -0.120
2      Afghanistan  1963        0.882
3      Afghanistan  1964       -0.727
4      Afghanistan  1965       -0.200
...            ...   ...          ...
11854         OECD  2015        1.282
11855         OECD  2016        1.850
11856         OECD  2017        1.349
11857         OECD  2018        1.088
11858         OECD  2019        1.297

[11859 rows x 3 columns]

In [5]:
dataset_df = gas_df.merge(temp_df, left_on=["area","year"], right_on=["Area","Year"])
dataset_df

,area,year,carbon_dioxide,greenhouse_with_indirect,greenhouse_without_indirect,hydrofluorocarbons,methane,nitrogen_trifluoride,nitrous_oxide,perfluorocarbons,sulphur_hexafluoride,other,Area,Year,Temp Change
0,Australia,2014,3.931269e+05,5.223971e+05,5.223971e+05,10787.350138,98076.109401,0.000000,20084.542834,192.535991,129.605354,0.000000,Australia,2014,1.139
1,Australia,2013,6.426256e+04,7.633262e+04,7.633262e+04,1642.800765,6623.265756,10.562520,3427.437373,53.028514,312.959665,0.000000,Australia,2013,1.450
2,Australia,2012,6.061565e+04,9.189565e+04,9.189565e+04,0.000000,18599.179023,0.000000,12678.394858,0.000000,2.426946,0.000000,Australia,2012,0.273
3,Australia,2011,9.632541e+04,1.138666e+05,1.138666e+05,2811.797330,8047.552316,0.689720,6278.983738,306.964411,95.218302,0.000000,Australia,2011,0.176
4,Australia,2010,4.513996e+04,0.000000e+00,5.780759e+04,1423.812859,7420.509699,0.000000,3807.666139,0.032886,15.616100,0.000000,Australia,2010,0.644
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
770,United States of America,1994,4.411553e+04,5.371998e+04,5.330776e+04,0.024781,6086.294429,0.000000,2852.381916,116.515250,137.006248,0.000000,United States of America,1994,0.461
771,United States of America,1993,1.467506e+05,2.077733e+05,2.077733e+05,0.000000,43820.360200,0.000000,16509.556832,692.767132,0.000000,0.000000,United States of America,1993,0.005
772,United States of America,1992,6.930248e+05,9.379542e+05,9.379542e+05,0.000000,189322.963465,0.000000,55370.646488,235.819623,0.007632,0.000000,United States of America,1992,0.395
773,United States of America,1991,5.963985e+05,0.000000e+00,8.001075e+05,14391.426654,137607.978359,0.415007,48778.607299,1651.526859,1279.061171,0.000000,United States of America,1991,0.525
774,United States of America,1990,5.115095e+06,6.397144e+06,6.397144e+06,46288.814184,773854.896420,47.921576,406228.526626,24255.671543,31080.406159,293.205663,United States of America,1990,0.672

In [6]:
dataset_df = dataset_df.drop(columns=["Area","Year"])
dataset_df

,area,year,carbon_dioxide,greenhouse_with_indirect,greenhouse_without_indirect,hydrofluorocarbons,methane,nitrogen_trifluoride,nitrous_oxide,perfluorocarbons,sulphur_hexafluoride,other,Temp Change
0,Australia,2014,3.931269e+05,5.223971e+05,5.223971e+05,10787.350138,98076.109401,0.000000,20084.542834,192.535991,129.605354,0.000000,1.139
1,Australia,2013,6.426256e+04,7.633262e+04,7.633262e+04,1642.800765,6623.265756,10.562520,3427.437373,53.028514,312.959665,0.000000,1.450
2,Australia,2012,6.061565e+04,9.189565e+04,9.189565e+04,0.000000,18599.179023,0.000000,12678.394858,0.000000,2.426946,0.000000,0.273
3,Australia,2011,9.632541e+04,1.138666e+05,1.138666e+05,2811.797330,8047.552316,0.689720,6278.983738,306.964411,95.218302,0.000000,0.176
4,Australia,2010,4.513996e+04,0.000000e+00,5.780759e+04,1423.812859,7420.509699,0.000000,3807.666139,0.032886,15.616100,0.000000,0.644
...,...,...,...,...,...,...,...,...,...,...,...,...,...
770,United States of America,1994,4.411553e+04,5.371998e+04,5.330776e+04,0.024781,6086.294429,0.000000,2852.381916,116.515250,137.006248,0.000000,0.461
771,United States of America,1993,1.467506e+05,2.077733e+05,2.077733e+05,0.000000,43820.360200,0.000000,16509.556832,692.767132,0.000000,0.000000,0.005
772,United States of America,1992,6.930248e+05,9.379542e+05,9.379542e+05,0.000000,189322.963465,0.000000,55370.646488,235.819623,0.007632,0.000000,0.395
773,United States of America,1991,5.963985e+05,0.000000e+00,8.001075e+05,14391.426654,137607.978359,0.415007,48778.607299,1651.526859,1279.061171,0.000000,0.525
774,United States of America,1990,5.115095e+06,6.397144e+06,6.397144e+06,46288.814184,773854.896420,47.921576,406228.526626,24255.671543,31080.406159,293.205663,0.672

In [26]:




print(dataset_df.loc[dataset_df.nitrogen_trifluoride > 0].area.count())


print(dataset_df.loc[dataset_df.other>0].area.count())

176
54

In [29]:
pass_df = dataset_df.loc[(dataset_df.carbon_dioxide>0) &
                        (dataset_df.greenhouse_with_indirect>0) &
                        (dataset_df.greenhouse_without_indirect>0) &
                        (dataset_df.hydrofluorocarbons>0) &
                        (dataset_df.methane>0) &
                        (dataset_df.nitrous_oxide>0) &
                        (dataset_df.perfluorocarbons>0) &
                        (dataset_df.sulphur_hexafluoride>0)]
pass_df = pass_df.drop(["nitrogen_trifluoride","other"],1)
pass_df

,area,year,carbon_dioxide,greenhouse_with_indirect,greenhouse_without_indirect,hydrofluorocarbons,methane,nitrous_oxide,perfluorocarbons,sulphur_hexafluoride,Temp Change
0,Australia,2014,3.931269e+05,5.223971e+05,5.223971e+05,10787.350138,98076.109401,20084.542834,192.535991,129.605354,1.139
1,Australia,2013,6.426256e+04,7.633262e+04,7.633262e+04,1642.800765,6623.265756,3427.437373,53.028514,312.959665,1.450
3,Australia,2011,9.632541e+04,1.138666e+05,1.138666e+05,2811.797330,8047.552316,6278.983738,306.964411,95.218302,0.176
5,Australia,2009,5.740998e+05,7.471719e+05,7.324189e+05,9024.460428,108436.716891,39407.110871,1088.036843,362.631619,0.968
6,Australia,2008,1.760732e+04,2.289888e+04,2.289888e+04,582.772939,3080.408530,1621.473053,0.059536,6.841687,0.553
...,...,...,...,...,...,...,...,...,...,...,...
764,United States of America,2000,1.747319e+05,2.549991e+05,2.549991e+05,0.181193,62314.756742,15496.656785,2455.166469,0.474960,0.991
765,United States of America,1999,2.589725e+06,3.767555e+06,3.767555e+06,35937.158805,942383.462118,183239.558099,15122.409958,1147.149755,0.747
769,United States of America,1995,5.754654e+04,7.191726e+04,7.191726e+04,4.602346,7989.912104,5840.754215,433.718726,101.728949,0.626
770,United States of America,1994,4.411553e+04,5.371998e+04,5.330776e+04,0.024781,6086.294429,2852.381916,116.515250,137.006248,0.461
774,United States of America,1990,5.115095e+06,6.397144e+06,6.397144e+06,46288.814184,773854.896420,406228.526626,24255.671543,31080.406159,0.672

In [30]:
pass_df.isna().sum()

area                           0
year                           0
carbon_dioxide                 0
greenhouse_with_indirect       0
greenhouse_without_indirect    0
hydrofluorocarbons             0
methane                        0
nitrous_oxide                  0
perfluorocarbons               0
sulphur_hexafluoride           0
Temp Change                    0
dtype: int64

In [37]:
# Some fluctuation of temperature between years is acceptable, so let's only look at more extreme increases in temperature
pass_df["Significant Change"] = [1 if abs(temp) > 1 else 0 for temp in pass_df["Temp Change"]]
pass_df = pass_df.drop("Temp Change",1)

In [38]:
pass_df

,area,year,carbon_dioxide,greenhouse_with_indirect,greenhouse_without_indirect,hydrofluorocarbons,methane,nitrous_oxide,perfluorocarbons,sulphur_hexafluoride,Significant Change
0,Australia,2014,3.931269e+05,5.223971e+05,5.223971e+05,10787.350138,98076.109401,20084.542834,192.535991,129.605354,1
1,Australia,2013,6.426256e+04,7.633262e+04,7.633262e+04,1642.800765,6623.265756,3427.437373,53.028514,312.959665,1
3,Australia,2011,9.632541e+04,1.138666e+05,1.138666e+05,2811.797330,8047.552316,6278.983738,306.964411,95.218302,0
5,Australia,2009,5.740998e+05,7.471719e+05,7.324189e+05,9024.460428,108436.716891,39407.110871,1088.036843,362.631619,0
6,Australia,2008,1.760732e+04,2.289888e+04,2.289888e+04,582.772939,3080.408530,1621.473053,0.059536,6.841687,0
...,...,...,...,...,...,...,...,...,...,...,...
764,United States of America,2000,1.747319e+05,2.549991e+05,2.549991e+05,0.181193,62314.756742,15496.656785,2455.166469,0.474960,0
765,United States of America,1999,2.589725e+06,3.767555e+06,3.767555e+06,35937.158805,942383.462118,183239.558099,15122.409958,1147.149755,0
769,United States of America,1995,5.754654e+04,7.191726e+04,7.191726e+04,4.602346,7989.912104,5840.754215,433.718726,101.728949,0
770,United States of America,1994,4.411553e+04,5.371998e+04,5.330776e+04,0.024781,6086.294429,2852.381916,116.515250,137.006248,0
774,United States of America,1990,5.115095e+06,6.397144e+06,6.397144e+06,46288.814184,773854.896420,406228.526626,24255.671543,31080.406159,0

In [39]:

X = pass_df.drop(columns=["area","year","Significant Change"])
X

,carbon_dioxide,greenhouse_with_indirect,greenhouse_without_indirect,hydrofluorocarbons,methane,nitrous_oxide,perfluorocarbons,sulphur_hexafluoride
0,3.931269e+05,5.223971e+05,5.223971e+05,10787.350138,98076.109401,20084.542834,192.535991,129.605354
1,6.426256e+04,7.633262e+04,7.633262e+04,1642.800765,6623.265756,3427.437373,53.028514,312.959665
3,9.632541e+04,1.138666e+05,1.138666e+05,2811.797330,8047.552316,6278.983738,306.964411,95.218302
5,5.740998e+05,7.471719e+05,7.324189e+05,9024.460428,108436.716891,39407.110871,1088.036843,362.631619
6,1.760732e+04,2.289888e+04,2.289888e+04,582.772939,3080.408530,1621.473053,0.059536,6.841687
...,...,...,...,...,...,...,...,...
764,1.747319e+05,2.549991e+05,2.549991e+05,0.181193,62314.756742,15496.656785,2455.166469,0.474960
765,2.589725e+06,3.767555e+06,3.767555e+06,35937.158805,942383.462118,183239.558099,15122.409958,1147.149755
769,5.754654e+04,7.191726e+04,7.191726e+04,4.602346,7989.912104,5840.754215,433.718726,101.728949
770,4.411553e+04,5.371998e+04,5.330776e+04,0.024781,6086.294429,2852.381916,116.515250,137.006248
774,5.115095e+06,6.397144e+06,6.397144e+06,46288.814184,773854.896420,406228.526626,24255.671543,31080.406159

In [33]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, classification_report

In [40]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [41]:
classifier = LogisticRegression(max_iter=10000)
classifier.fit(X_train, y_train)
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.4921052631578947
Testing Data Score: 0.4330708661417323

In [42]:
y_true = y_test
y_pred = classifier.predict(X_test)
cm = confusion_matrix(y_true, y_pred)
cm

array([[21, 44],
       [28, 34]], dtype=int64)

In [44]:
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df

          Predicted 0  Predicted 1
Actual 0           21           44
Actual 1           28           34

In [45]:
tn, fp, fn, tp = cm.ravel()

In [46]:
precision = tp / (tp + fp)
precision

0.4358974358974359

In [47]:
sensitivity = tp / (tp + fn)
sensitivity

0.5483870967741935

In [48]:
f1 = 2*precision*sensitivity / (precision + sensitivity)
f1

0.4857142857142857

In [49]:
print(classification_report(y_true, y_pred))

              precision    recall  f1-score   support

           0       0.43      0.32      0.37        65
           1       0.44      0.55      0.49        62

    accuracy                           0.43       127
   macro avg       0.43      0.44      0.43       127
weighted avg       0.43      0.43      0.43       127

In [53]:
from imblearn.ensemble import BalancedRandomForestClassifier
from sklearn.datasets import make_classification
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

#testing with BalancedRandomForestClassifier
model = BalancedRandomForestClassifier(random_state=42)
model.fit(X_train, y_train)

BalancedRandomForestClassifier(random_state=42)

In [54]:
y_pred = model.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.4818858560794045

In [57]:
print(confusion_matrix(y_test, y_pred))
print(classification_report_imbalanced(y_test, y_pred))

[[27 38]
 [28 34]]
                   pre       rec       spe        f1       geo       iba       sup

          0       0.49      0.42      0.55      0.45      0.48      0.22        65
          1       0.47      0.55      0.42      0.51      0.48      0.23        62

avg / total       0.48      0.48      0.48      0.48      0.48      0.23       127

In [58]:
feature_df = pd.DataFrame(model.feature_importances_,index = X_train.columns,columns=['importance']).sort_values('importance',ascending=False)
for ind in feature_df.index:
    print(f'{ind}: ({feature_df.importance[ind]})')

sulphur_hexafluoride: (0.13765225887587487)
perfluorocarbons: (0.13580932540181484)
hydrofluorocarbons: (0.13462236987511156)
nitrous_oxide: (0.12822394776963417)
methane: (0.1209333772222788)
greenhouse_with_indirect: (0.11713717175956857)
greenhouse_without_indirect: (0.11557945243303341)
carbon_dioxide: (0.11004209666268389)

In [59]:
from imblearn.ensemble import EasyEnsembleClassifier 
model = EasyEnsembleClassifier(n_estimators=100, random_state=1)
model.fit(X_train, y_train)

EasyEnsembleClassifier(n_estimators=100, random_state=1)

In [60]:
y_pred = model.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.49875930521091816

In [61]:
confusion_matrix(y_test, y_pred)

array([[25, 40],
       [24, 38]], dtype=int64)

In [62]:
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.51      0.38      0.61      0.44      0.49      0.23        65
          1       0.49      0.61      0.38      0.54      0.49      0.24        62

avg / total       0.50      0.50      0.50      0.49      0.49      0.24       127